@keyframes blurGrowIn {
  0% {
    color: transparent;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.75);
  }

  10% {
    color: transparent;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
    transform: scale(0.77);
  }

  20% {
    color: transparent;
    text-shadow: 0 0 15px black;
    transform: scale(0.8);
  }

  30% {
    color: transparent;
    text-shadow: 0 0 12px black;
    transform: scale(0.82);
  }

  40% {
    color: transparent;
    text-shadow: 0 0 10px black;
    transform: scale(0.85);
  }

  50% {
    color: transparent;
    text-shadow: 0 0 8px black;
    transform: scale(0.87);
  }

  60% {
    color: transparent;
    text-shadow: 0 0 5px black;
    transform: scale(0.9);
  }

  100% {
    color: black;
    transform: scale(1);
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(-100px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blurGrowIn {
  animation-name: blurGrowIn;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 2s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}
