.button-container {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

button {
  height: 75px;
  width: 150px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.5s ease;
}

.button-sign-up {
  color: #ffffff;
  background-color: #333333;
  border: thin solid #333333;
  margin-right: 6px;
}

.button-sign-up:hover {
  color: #333333;
  background-color: #ffffff;
  transform: scale(1.1);
}

.button-log-in {
  color: #333333;
  background-color: #ffffff;
  border: thin solid #333333;
  margin-left: 6px;
}

.button-log-in:hover {
  color: #ffffff;
  background-color: #333333;
  transform: scale(1.1);
}
